<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="//fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Stephen Doe</title>
</head>

<body>
    <div id="wrapper">
        <div id="content">
            <div class="container">
                <ul class="nav nav-pills pull-right" role="tablist">
                    <li><a href="home">Home</a></li>
                    <li class="active"><a href="portfolio">Portfolio</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
                <h1 id="portfolioFont"></h1>
                <div class="row">
  <div class="col-md-6 col-sm-6">
    <h3>Samsung Galaxy S8</h3>
      <img src="/images/bootScroll.PNG" alt="">
      <p><a href="https://bootscroll.herokuapp.com/">Visit site</a></p>
      <p>A mock Samsung Galaxy S8 description page</p>
  </div>

  </div>
  <div class="col-md-6 col-sm-6">
    <h3>Soresu</h3>

    <p>The Way of the Mynock</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <h3>Ataru</h3>

    <p>The Way of the Hawk-Bat</p>
  </div>

  <div class="col-md-6 col-sm-6">
    <h3>Niman</h3>

    <p>The Way of the Rancor</p>
  </div>
</div>
            </div>
            <div id="footer">
                <div id="footerText
            ">Copyright © Stephen Doe 2017
                    <a href="//www.linkedin.com/in/stephen-doe-094ab4123" target="_blank">
                        <img src="/images/linkedin.png" id="linkedinIcon"></a>
                    <a href="//github.com/IamTh3Walrus" target="_blank">
                        <img src="/images/octocat.jpg" id="githubIcon">
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="/javascript/jquery-1.12.4.min.js"></script>
    <script src="/javascript/typed.js"></script>
    <script type="text/javascript" src="/javascript/javascript.js"></script>
</body>

</html>
