<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="//fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Stephen Doe</title>
</head>

<body>
    <div id="wrapper">
        <div id="content">
            <div class="container">
                <ul class="nav nav-pills pull-right" role="tablist">
                    <li><a href="home">Home</a></li>
                    <li class="active"><a href="portfolio">Portfolio</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
                <h1 id="portfolioFont"></h1>
<div class="row">
  <div class="col-md-6 col-sm-6" id="firstDiv">
    <h2>Samsung Galaxy S8</h2>
      <p id="siteDescription">A mock Samsung Galaxy S8 description page</p>
      <img src="/images/bootScroll.PNG" alt="" id="bootScroll">
      <h3><a href="https://bootscroll.herokuapp.com/">Visit site</a></h3>
  </div>
  <div class="col-md-6 col-sm-6">
      <h2>Hologram Cube News</h2>
        <p id="siteDescription">A site that scrapes news articles on the web</p>
        <img src="/images/cubeNews.PNG" alt="" id="cubeNews">
        <h3><a href="https://holoscraper.herokuapp.com/">Visit site</a></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6" id="firstDiv">
    <h2>G-Bee</h2>
      <p id="siteDescription">A blood glucose monitoring app built with React.JS</p>
      <img src="/images/gbeePage.png" alt="" id="gbeePage">
      <h3><a href="https://g-bee.herokuapp.com">Visit site</a></h3>
  </div>

  <div class="col-md-6 col-sm-6">
    <h2>Mind the Children</h2>
      <p id="siteDescription">A website for a non-profit organization</p>
      <img src="/images/mindChildren.PNG" alt="" id="mindChildren">
      <h3><a href="https://mindthechildren.herokuapp.com/">Visit site</a></h3>
  </div>
</div>
            </div>
            <div id="footer">
                <div id="footerText
            ">Copyright © Stephen Doe 2017
                    <a href="//www.linkedin.com/in/stephen-doe-094ab4123" target="_blank">
                        <img src="/images/linkedin.png" id="linkedinIcon"></a>
                    <a href="//github.com/IamTh3Walrus" target="_blank">
                        <img src="/images/octocat.jpg" id="githubIcon">
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="/javascript/jquery-1.12.4.min.js"></script>
    <script src="/javascript/typed.js"></script>
    <script type="text/javascript" src="/javascript/javascript.js"></script>
</body>

</html>
